@import "tailwindcss";

body {
  width: 100%;
  height: 100%;
}

.black_line::before {
  height: full;
  width: full;
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0px;
}

#slider .swiper-button-prev,
#slider .swiper-button-next {
  background-color: #fefde8;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slider .swiper-button-prev::after,
#slider .swiper-button-next::after {
  font-size: 16px;
  text-align: center;
  color: #ebc107;
}

#slider .swiper-button-prev {
  margin-left: -10px;
}

#slider .swiper-button-next {
  margin-right: -10px;
}




#travel_slider .swiper-button-prev,
#travel_slider .swiper-button-next {
  top: initial;
  right: initial;
  font-family: "";
  width: 21px;
  height: 26px;
  bottom: 30px;
  left: initial;
}
#travel_slider .swiper-button-prev{

  right:40px;
}
#travel_slider .swiper-button-next {
  right: 10px;
}

#travel_slider .swiper-button-prev::after {
  background-image: url(/arrow_left.svg);
}
#travel_slider .swiper-button-next::after {
  background-image: url(/arrow_right.svg);
}
#travel_slider .swiper-button-prev::after,
#travel_slider .swiper-button-next::after {
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  font-family: "Courier New", Courier, monospace;
}

#insight_slider{
  padding: 0px 33px;
}

/* #insight_slider .swiper-pagination{
display: none;
} */

#insight_slider .swiper-button-prev,
#insight_slider .swiper-button-next {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#insight_slider .swiper-button-prev::after,
#insight_slider .swiper-button-next::after {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #EBC107;
}

#insight_slider .swiper-button-prev {
  margin-left: -10px;
}

#insight_slider .swiper-button-next {
  margin-right: -10px;
}


#newsletter >  button{
  background-color: black;

}


